<table class="table table-bordered table-striped fill">
  <thead>
  <tr>
    <th>Role</th>
    <th>Controller</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @roles.each do |role| %>
      <tr id="role_<%= role.id %>">
        <td><%= role.name %></td>
        <td><%= role.ctrl %></td>
        <td><%= link_to 'Show', role %></td>
        <td><%= link_to 'Edit', edit_role_path(role) %></td>
        <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>