<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @role.name %><br>
  <strong>Controller:</strong>
  <%= @role.ctrl %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
